{{template "header"}}

<h1>Create A New TODO</h1>
<form method="post" action="/todos/create/process">
    <input type="text" name="isbn" placeholder="isbn" required autofocus>
    <input type="text" name="title" placeholder="title" required>
    <input type="text" name="due" placeholder="due" required>
    <input type="submit">
</form>
<p class="link"><a href="/todos">Go Back to the Home</a></p>

{{template "footer"}}
