{{template "header"}}
<h1>My To-Do List</h1>
{{range .}}
<p>・<a href="/todos/show?isbn={{.Isbn}}">{{.Isbn}}</a> - {{.Title}} - DUE: {{.Due}} <a href="/todos/update?isbn={{.Isbn}}">update</a>  - <a href="/todos/delete/process?isbn={{.Isbn}}">delete</a> </p>
{{end}}

<p class="link"><a href="/todos/create">Insert A todo</a></p>
{{template "footer"}}
