{{template "header"}}
<h1>Update A Todo</h1>
<form method="post" action="/todos/update/process">
    <input type="text" name="isbn" placeholder="isbn" required autofocus value="{{.Isbn}}">
    <input type="text" name="title" placeholder="title" required value="{{.Title}}">
    <input type="text" name="due" placeholder="due" required value="{{.Due}}">
    <input type="submit">
</form>
{{template "footer"}}
